# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tonorp CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, development ]

jobs:
  test:
    name: Run Test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    services:
      mysql:
        image: mysql:5.7
        env:
          DB_NAME: 'tonorp'
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3


    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: setup mysql
      run: |
       sudo apt-get install -y mysql-client
       mysql --host 127.0.0.1 -uroot -e "CREATE DATABASE IF NOT EXISTS tonorp;"

    - name: install dependencies
      run: npm install
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
